.item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(213, 205, 205, 0.812);
}

.item img {
  height: 160px;
  width: 150px;
}

.content p {
  font-size: 16px;
  margin-bottom: 2px;
  align-items: center;
}
