.navbar {
  display: flex;
  padding: 12px 30px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  margin-right: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: rgb(90, 11, 170);
}

.navLink {
  text-decoration: none;
  color: rgb(5, 4, 4);
}
